/* Image Section */

img.logo-pic {
  height: 50px;
  width: 50px;
}

img.start-workout-pic {
  height: 80px;
  width: 150px;
}

img.exercises-pic {
  height: 90px;
  width: 100px;
}
img.arm-pic {
  height: 60px;
  width: 60px;
}

/*Filter*/

.filter {
  display: flex;
  margin-bottom: 20px;
}

/* Catalog Section */

/*This is for erasing the underline of the links*/
.workout-page,
.meal-plan-page {
  text-decoration: none;
}

a.exercises-page {
  text-decoration: none;
}

/* Workout Page */

/* This is for header 1*/
.workout-header {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  margin-top: 20px;
}

/* Exercises Page */

#inputExerciseName,
#inputFoodKind {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #dfdfdf; 
  border-radius: 10px;
  background-color: #f8f8f8;
  color: #000000;
  margin-left: 20px;

}

.filter {
  font-size: 25px;
  color: #000000;
  margin-bottom: 10px;
}



.filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#inputExerciseName:hover,
#inputFoodKind:hover {
  background-color: #e8e8e8;
}

#inputExerciseName:focus,
#inputFoodKind:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#exercises-container,
#food-container   {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border: 5px solid #dfdfdf; 
}

.exercise-item {
  flex: 0 0 calc(50% - 20px); /* 50% for 2 items per row, 20px for the gap between items */
  border: 5px solid #dfdfdf; 
  background-color: #ffffff;
  padding: 10px;
  margin: 10px; /* Adjusted to add space on all sides */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.exercise-name {
  /* styles for the exercise name */
  text-transform: uppercase; /* convert the name to uppercase */
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}

.exercise-description {
text-align:center ;
font-size: 20px;

}

.exercise-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
/* Meal Plan Page */
}

/* Meal Plan Page */

/* This is for header 1*/
.mealplan-header {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  margin-top: 20px;
}

.meals-categories {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-top: 20px;
}
